body {
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  background-image: url('../../images/background-dark.jpg');
  background-repeat: repeat;
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}
#button{
  margin-top: 50px;
  margin-left:350px;
  width: 50%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 100;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
   color: white;
  
}


hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  

  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

#contact-title{
  background: -webkit-linear-gradient(#1845ad, #23a2f6);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    display: block;
    font-size: 2.5vw;
    text-align:center;
    margin: auto;
    padding: 0%;
    border: 3px solid black;
    padding-bottom: 1vw;;
    border-bottom: transparent;
    height: 15%;
    width:85%;
}

#contact-title>h3{
    margin-right: 130px;
}

#contact-box{
  border: 3px solid black;
  box-shadow: 0 4px 5px -2px rgba(8,7,16,0.6);
  column-gap: 10px;
  margin: auto;
  padding: 0%;
  border-top: transparent;
  height: auto;
  width:85%;

}

#contact{
    display: grid;
    grid-template-columns: 55% 45%;
    column-gap: 10px;
    margin: auto;
    margin-bottom: -10;
    padding: 0%;
    border-top: transparent;
    height: auto;
    width:85%;
}

.formular form{
    /* display: grid;
    grid-template-columns: 35% 50% 15%; */
    /* column-gap: 3%; */
}

#form-col1{
    display: grid;
    grid-template-columns: 30% 70%;
}

#form-col1>label{
  background: -webkit-linear-gradient(#1845ad, #23a2f6);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 1.3vw;
    margin-left: 6vw;
    margin-top:4.5vw;
}

#form-col1>input, #form-col1>select{
    font-style: italic;
    background-color: aliceblue;
    margin-right: 8vw;
    margin-top: 3.6vw;
}

label[for="subject"]{
  background: -webkit-linear-gradient(#1845ad, #23a2f6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  margin-left: 10vw;
  font-size: 1.6vw;
}

textarea{
    font-size: 1vw;
    background-color: aliceblue;
    width: 40vw;
    height: 10vw;
    padding: 10px;
    margin-top: 8%;
    border: 1px solid rgb(101, 101, 101); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box;
    resize: none;
    color: black;
}



.more-info{
    display: block;
}

.more-info h3{
  background: -webkit-linear-gradient(#1845ad, #23a2f6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3vw;
  margin-top: 3vw;
  margin-left: 1.5vw;
  margin-bottom: 2vw;
}

.more-info p{
  background: -webkit-linear-gradient(#1845ad, #23a2f6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1vw;
  margin: 1vw;
  border: transparent;
}
/* ---------------------Sectiunea de contact---------------------- */

/* POPUP CSS*/
#popUp {
  display: none;
  position: fixed; 
  z-index: 9; 
  left: 50%;
  top: 50%;
  width:40%;
  transform: translate(-50%, -50%); 
  background-color: rgb(54, 52, 52); 
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  border: 10px double black;  
  font-style: oblique;
  outline: none;
  font-family: 'Poppins',sans-serif;
  text-align: center;
}
#containerpopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color : rgba(8,7,16,0.6);
  font-size: x-large;
}

#content {
  background-color: inherit;
  padding: 20px;
  color: #eeeeee;
  width: 90%;
  font-style: oblique;
  outline: none;
  font-family: 'Poppins',sans-serif;
  text-align: center;

}

#close {
  color: black;
  float: right;
  font-size: 28px;
  background-color: grey;
  border-radius: 50%;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#buttons{
  width:auto;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 30px;
  cursor: pointer;
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  color: white;
  display: inline;
  
}
