body{
    background-image: url('../../images/background-dark.jpg');
    max-width: 100%;
    overflow-x: hidden !important;
    margin: 0;
    width: auto !important;
}

/* ---------------------Titlul paginii---------------------- */

#title{
    margin-top: 1%;
    font-size: max(18px, 2vw);
    display: block;
    text-align: center;
}
#title>h1,#title>p{
    background: -webkit-linear-gradient(#ff512f, #f09819);
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#title>h1{
    margin-top: 2%;
    margin-bottom: 1%;
    text-shadow:
     0 0 30px #ff512f,
     0 0 60px #f09819;
}
#title>p{
    font-family: 'Updock', cursive;
    margin-top: auto;
    font-size: 100%;
    border: none;
    padding-left: 27%;
}

/* ---------------------Titlul paginii---------------------- */

/* ---------------------Aranjare continut pagina------------- */
.main-page{
    display: grid;
    grid-template-columns: 17%  63%  17%;
    margin-top: 1%;
    margin-bottom: 20%;
}
.left-pannel{
    display: block;
}
.right-pannel{
    display: block;
}

/* ---------------------Aranjare continut pagina------------- */



/* ---------------------------LEFT PANNEL-----------------------*/
#leaderboard_answer,#leaderboard_questions{
    display:block;
    margin: 10px;
    margin-bottom: 20%;
    padding: 2px;
    background-color: rgba(246, 245, 244, 0.3);
    font-style: oblique;
    border: 10px double black;  
}
#leaderboard_answer>h3,#leaderboard_questions>h3{
    margin-bottom: 15%;
    color: #f09819;
    text-align: center;
    font-size: 25px;
}
.ladeboard-row{
    display:flex;
    flex-direction: row;            
    margin: 5%;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Poppins',sans-serif;
}
.ladeboard-row>p{
    display: flex;
    margin: auto;
    border: none;
    color: #f09819;
    font-size:17px;
}
.ladeboard-row>p:nth-child(2):hover{
    cursor: pointer;
}
.ladeboard-row>p:last-child{
    color: rgb(30,132,242);
    text-shadow:
    0 0 10px rgb(27, 122, 194),
    0 0 15px rgb(20, 20, 193),
    0 0 30px rgb(7, 0, 57), 
    0 0 45px rgb(37, 13, 216);
    float: right;
}
/* spatiul intre pozitie(10) si numele utilizatorului sa fie la fel ca mai sus */

/* --------------------------LEFT PANNEL--------------------------*/


/* --------------------------MAIN PANNEL--------------------------*/
#question-form{
  
    width: 80%;
    background-color: rgba(246, 245, 244, 0.3);
    color: white;
    position: relative;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 20px;
    border: 10px double black;
    font-style: oblique;
    display: block;
}


#question-title>#username:hover{
    cursor: pointer;
    color:blue;
}
.question-box{
    display: inline-block;
    height: fit-content;
    width: 95%;
    background-color: rgba(255,255,255,0.07);
    word-wrap: break-word;
    color: white;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 22px;
    font-weight: 300;
}
.question-box>p:hover{
    cursor: pointer;
    text-decoration: none;
    color : rgba(246, 245, 244, 0.3);
}


/* --------------------------MAIN PANNEL--------------------------*/


/* --------------------------RIGHT PANNEL--------------------------*/

#statistics{
    display:block;
    font-family: sans-serif;
    margin: 10px;
    margin-bottom: 20%;
    padding: 2px;
    background-color: rgba(246, 245, 244, 0.3);
    font-style: oblique;
    border: 10px double black; 
}
#statistics>h3{
    margin: 5% 10%;
    padding: 3%;
    color: #f09819;
    text-align: center;
    font-size: 25px;
    border-bottom: #ff512f solid;
}
#statistics>p{
    color: #f09819;
    font-size: 17px;
    margin: 15% 10%;
    border-bottom: 1px #ff512f solid;
}
.statistic-value{
    float: right;
    color: rgb(30,132,242);
    text-shadow:
    0 0 10px rgb(27, 122, 194),
    0 0 15px rgb(20, 20, 193),
    0 0 30px rgb(7, 0, 57), 
    0 0 45px rgb(37, 13, 216);
}


/* --------------------------RIGHT PANNEL--------------------------*/

#topBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
.welcome{
    color: #f09819;
    font-size: 17px;
    border-bottom: 1px #ff512f solid;
}


/*CSS BASIC FORMULAR CREARE INTREBARE*/

.questionText{
    display: inline-block;
    height: fit-content;
    width: 95%;
    background-color: rgba(255,255,255,0.07);
    word-wrap: break-word;
    color: white;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
}

.questionText:hover{
    color: rgba(246, 245, 244, 0.3);
    text-decoration: none;
    cursor: pointer;
}



/* CSS for question input form */

#formquestion{
    width: 80%;
    background-color: rgba(246, 245, 244, 0.3);
    position: relative;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 20px;
    border: 10px double black;  
    font-style: oblique;
    display: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
   
}

#question{
    display: block;
    height: fit-content;
    width: 95%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    margin-top: 8px;
    resize: none;
    overflow: hidden;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    border: none;
    color: white;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    
}
::placeholder{
    color: #e5e5e5;
}

#category {
    display: block;
    
    height: fit-content;
    width: 95%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    margin-top: 8px;
    resize: none;
    overflow: hidden;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    border: none;
    color: white;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
#category option {
     background-color:  rgb(95, 95, 95);
  }
#formbutton{
    margin-top: 5px;
    margin-left: 5%;
    width: fit-content;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    color: white;
    display: inline;
    
}

/*--------------------------------SHEARCH BAR--------------------------*/
 #mid-buttons{
     width: 100%;
     margin:0 auto;

 }
#search-question{
    align-items: center;
    width: auto;
    display: inline;
    float: right;
    margin-right: 6vw;
    /* margin-top: 1vw; */
}

#search-question input{
    font-family:'Courier New', Courier, monospace;
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    background: rgba(246, 245, 244, 0.3);
    border: 0.2vw black solid;
    box-shadow: 0 0 10px rgba(8,7,16,0.6);
    border-radius: 60px;
    backdrop-filter: blur(0.5px) saturate(180%);
    color: white;
}

/*--------------------------------SHEARCH BAR--------------------------*/

#button{
    width: fit-content;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    color: white;
    display: inline;
    
}


/* This is for detailed.php, didn t make another css file...sorry */

#formanswer{
    width: 70%;
    background-color: rgba(246, 245, 244, 0.3);
    position: relative;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 20px;
    border: 10px double black; 
    font-style: oblique;
    display: block;
    outline: none;
    font-family: 'Poppins',sans-serif;
}

#containeranswer{
    width: 75%;
    background-color: rgba(246, 245, 244, 0.3);
    position: relative;
    margin-left:7%;
    margin-top: 1%;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 20px;
    border: 10px double black;  
    font-style: oblique;
    display: block;
    outline: none;
    font-family: 'Poppins',sans-serif;
}


#answer {
    display: inline-block;
    height: fit-content;
    width: 95%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    border: none;
    color: white;
    font-family: 'Poppins',sans-serif;
}

#answerbutton{
    width:30%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    color: white;
    display: block;
}


#username{
    color: white;
    font-family: 'Poppins',sans-serif;
}


/* POPUP CSS*/
#popUp {
    display: none;
    position: fixed; 
    z-index: 9; 
    left: 50%;
    top: 50%;
    width:40%;
    transform: translate(-50%, -50%); 
    background-color: rgb(54, 52, 52); 
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 10px double black;  
    font-style: oblique;
    outline: none;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
#containerpopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color : rgba(8,7,16,0.6);
    font-size: x-large;
}

#content {
    background-color: inherit;
    padding: 20px;
    color: #eeeeee;
    width: 90%;
    font-style: oblique;
    outline: none;
    font-family: 'Poppins',sans-serif;
    text-align: center;

}

#close {
    color: black;
    float: right;
    font-size: 28px;
    background-color: grey;
    border-radius: 50%;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#buttons{
    width: fit-content;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 30px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    color: white;
    display: inline;
    
}
/* Pop css end*/

.likeButton{
    font-style: oblique;
    outline: none;
    font-family: 'Poppins',sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    font-size: 18px;
}

.dislikeButton{
    font-style: oblique;
    outline: none;
    font-family: 'Poppins',sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    font-size: 18px;
}
.reportButton{
    font-style: oblique;
    outline: none;
    float: right;
    font-family: 'Poppins',sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    font-size: 18px;
}

.reacted{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
}

.hide{
    display: none;
}

@media only screen and (max-width: 1024px) {

    .main-page{
        display: block;
        margin-top: 1%;
        margin-bottom: 20%;
    }
    .left-pannel{
        display: block;
    }
    .right-pannel{
        display: block;
    }
    #buttons-pannel{
        display: inline-block;
        margin-left: 4%;
        width: auto;
    }
    

    #answerbutton{
        width:50%;
        padding: 5px 0;
    }
    /* ---------------------------LEFT PANNEL-----------------------*/
#leaderboard_answer,#leaderboard_questions{
    display:none;
    margin: 10px;
    margin-bottom: 20%;
    padding: 2px;
    background-color: rgba(246, 245, 244, 0.3);
    font-style: oblique;
    border: 10px double black;  
}
#leaderboard_answer>h3,#leaderboard_questions>h3{
    margin-bottom: 15%;
    color: #f09819;
    text-align: center;
    font-size: 25px;
}
.ladeboard-row{
    display:flex;
    flex-direction: row;            
    margin: 5%;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Poppins',sans-serif;
}
.ladeboard-row>p{
    display: flex;
    margin: auto;
    border: none;
    color: #f09819;
    font-size:17px;
}
.ladeboard-row>p:nth-child(2):hover{
    cursor: pointer;
}
.ladeboard-row>p:last-child{
    color: rgb(30,132,242);
    text-shadow:
    0 0 10px rgb(27, 122, 194),
    0 0 15px rgb(20, 20, 193),
    0 0 30px rgb(7, 0, 57), 
    0 0 45px rgb(37, 13, 216);
    float: right;
}
/* spatiul intre pozitie(10) si numele utilizatorului sa fie la fel ca mai sus */

/* --------------------------LEFT PANNEL--------------------------*/
    
    /* --------------------------RIGHT PANNEL--------------------------*/

#statistics{
    display:none;
    font-family: sans-serif;
    margin: 10px;
    margin-bottom: 20%;
    padding: 2px;
    background-color: rgba(246, 245, 244, 0.3);
    font-style: oblique;
    border: 10px double black; 
}
#statistics>h3{
    margin: 5% 10%;
    padding: 3%;
    color: #f09819;
    text-align: center;
    font-size: small;
    border-bottom: #ff512f solid;
}
#statistics>p{
    color: #f09819;
    font-size: 17px;
    margin: 15% 10%;
    border-bottom: 1px #ff512f solid;
}
.statistic-value{
    float: right;
    color: rgb(30,132,242);
    text-shadow:
    0 0 10px rgb(27, 122, 194),
    0 0 15px rgb(20, 20, 193),
    0 0 30px rgb(7, 0, 57), 
    0 0 45px rgb(37, 13, 216);
}

#formbutton{
    margin-top: 5px;
    margin-left: 5%;
    width: fit-content;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 650;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    color: white;
    display: inline;
    
}

#button{
    width: 30%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    color: white;
    display: inline;
    
}
/* --------------------------RIGHT PANNEL--------------------------*/

#category {
    display: block;
    height: fit-content;
    width: 65%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    margin-top: 8px;
    resize: none;
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    border: none;
    color: white;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
#category option {
     background-color:  rgb(95, 95, 95);
  }
  
  #formquestion{
    height: fit-content;
    width: 80%;
    background-color: rgba(246, 245, 244, 0.3);
    position: relative;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 20px;
    border: 10px double black;  
    font-style: oblique;
    display: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
   
}

#question{
    display: block;
    height: fit-content;
    width: 85%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    margin-top: 8px;
    resize: none;
    overflow: hidden;
    font-size: 15px;
    font-weight: 300;
    outline: none;
    border: none;
    color: white;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    
}
::placeholder{
    color: #e5e5e5;
}
#username{
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 85%;
}

.questionText{
    display: inline-block;
    height: fit-content;
    width: 66%;
    background-color: rgba(255,255,255,0.07);
    word-wrap: break-word;
    color: white;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 21px;
    font-weight: 300;
    text-decoration: none;
}

.questionText:hover{
    color: rgba(246, 245, 244, 0.3);
    text-decoration: none;
    cursor: pointer;
}

.likeButton{
    font-style: oblique;
    outline: none;
    font-family: 'Poppins',sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    font-size: 16px;
}

.dislikeButton{
    font-style: oblique;
    outline: none;
    font-family: 'Poppins',sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    font-size: 16px;
}
.reacted{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
}
.reportButton{
    font-style: oblique;
    outline: none;
    float: right;
    font-family: 'Poppins',sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    font-size: 16px;
    
}
.reacted{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
}

/* POPUP CSS*/
#popUp {
    display: none;
    position: fixed; 
    z-index: 9; 
    left: 50%;
    top: 50%;
    width:70%;
    transform: translate(-50%, -50%); 
    background-color: rgb(54, 52, 52); 
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 10px double black;  
    font-style: oblique;
    outline: none;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
#containerpopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color : rgba(8,7,16,0.6);
    font-size: x-large;
}

#content {
    background-color: inherit;
    padding: 20px;
    color: #eeeeee;
    width: 80%;
    font-style: oblique;
    outline: none;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-size: 75%;

}

#close {
    color: black;
    float: right;
    font-size: 22px;
    background-color: grey;
    border-radius: 50%;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#buttons{
    width: fit-content;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 30px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    color: white;
    display: inline;
    font-size: 55%;
    
}
/* Pop css end*/

#question-form{
  
    width: 77%;
    background-color: rgba(246, 245, 244, 0.3);
    color: white;
    position: relative;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 20px;
    border: 10px double black;
    font-style: oblique;
    display: block;
}

/*--------------------------------SHEARCH BAR--------------------------*/
 #mid-buttons{
     width: 95%;
 }
#search-question{
    align-items: center;
    width: auto;
    display: inline;
    float: right;
    margin-right: 6vw;
    /* margin-top: 1vw; */
}

#search-question input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    width: 119%;
    padding: 13%;
    background: rgba(246, 245, 244, 0.3);
    border: 0.2vw black solid;
    box-shadow: 0 0 10px rgb(8 7 16 / 60%);
    border-radius: 60px;
    backdrop-filter: blur(0.5px) saturate(180%);
    color: white;
    margin-right: -8px;
}

/*--------------------------------SHEARCH BAR--------------------------*/

}
