
header > ul {
  list-style: none;
}

#up-button button{
  border: black;
  float: right;
  background-color: #00a2ff;
  color: white;
  text-align: center;
  font-size: 17px;
}


#title{
  color: white;
  text-align: center;
  
}


/* Add a black background color to the top navigation */
#topnav {
  background-color: #333;
  overflow: hidden;
  margin-top: -10;
  margin-left: -8;
  margin-right: -7;
}



/* Style the links inside the navigation bar */
#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
#topnav a.active {
  background-color: #00a2ff;
  color: white;
}


ul {
  margin: 0;
}

div ul li {
  list-style: none;
}

div ul li a {
  text-decoration: none;
  float: left;
  text-align: center;
  padding: auto;
  color: white;
  padding: 15px 10px;
  margin: 0;
}

div ul li a:hover {
  text-decoration: none;
  float: left;
  text-align: center;
  padding: auto;
  color: green;
  background-color: white;
}

.user-buttons {
  float: right;
}

.user-buttons:hover {
  text-decoration: none;
  float: right;
  text-align: center;
  padding: auto;
  color: green;
  background-color: white;
}

.question {
  border: solid 2px blue;
  border-radius: 5px;
  background-color: aliceblue;
  margin-left: 15%;
  margin-right: 15%;
}

.sign-up-form {
  text-align: center;
}



.form-signup {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 15%;
  border-radius: 10px;
  border: none;
  background-color: green;
}

.form-signup form input {
  margin-bottom: 10px;
  display: flex;
  margin: auto;
  padding: auto;
  
}

.form-signup form button {
  margin-bottom: 10px;
}


