body {
  margin: 0;
  background-color: rgb(54, 53, 53);
}

.topnav {
  background: green;
  overflow: hidden;
  margin: 0;
}

ul {
  margin: 0;
}

div ul li {
  list-style: none;
}

div ul li a {
  text-decoration: none;
  float: left;
  text-align: center;
  padding: auto;
  color: white;
  padding: 15px 10px;
  margin: 0;
}

div ul li a:hover {
  text-decoration: none;
  float: left;
  text-align: center;
  padding: auto;
  color: green;
  background-color: white;
}

.user-buttons {
  float: right;
}

.user-buttons:hover {
  text-decoration: none;
  float: right;
  text-align: center;
  padding: auto;
  color: green;
  background-color: white;
}

.question {
  border: solid 2px blue;
  border-radius: 5px;
  background-color: aliceblue;
  margin-left: 15%;
  margin-right: 15%;
}

.sign-up-form {
  text-align: center;
}



.form-signup {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 15%;
  border-radius: 10px;
  border: none;
  background-color: green;
}

.form-signup form input {
  margin-bottom: 10px;
  display: flex;
  margin: auto;
  padding: auto;
  
}

.form-signup form button {
  margin-bottom: 10px;
}
